---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - Avery Dennison
---

<article class="split piece">

  <aside>
    <h3>Avery Dennison - Everywhere You Look</h3>
    <p>NEED CONTENT</p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/snaac.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/pep_promotions.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("avery_responsive_collection.jpg", :alt => "Avery Dennison's Everywhere You Look Website") %>
    <%= image_tag("avery_full_home.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Homepage") %>
    <%= image_tag("avery_full_interior.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Customers Page") %>
    <%= image_tag("avery_full_interior2.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Dealers Page") %>
  </div>

</article>

<%= partial "work" %>