---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - Avery Dennison
---

<article class="split piece">

  <aside>
    <h3>Avery Dennison</h3>
    <ul class="workdone">
      <li>UI<span>User Interface Design</span></li>
      <li>UX<span>User Experience</span></li>
      <li>&lt;/&gt;<span>Front-End Development</span></li>
    </ul>
    <p>Avery Dennison*, a global leader in labeling, packaging materials, car wraps, and safety films, was searching for an interactive way to let the public know that their products are everywhere. The solution was to create three different environments that showcased their films in real world applications. As a user scrolls down the page, the image focuses in on a different part of that atmosphere and highlights the products in action.</p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/snaac.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/pep_promotions.html', class:'right_arrow' %></li>
    </ul>
    <p class="topicmademeputthis">*A client while at Topic.</p>
  </aside>

  <div>
    <%= image_tag("avery_responsive_collection.jpg", :alt => "Avery Dennison's Everywhere You Look Website") %>
    <%= image_tag("avery_full_home.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Homepage") %>
    <%= image_tag("avery_full_interior.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Customers Page") %>
    <%= image_tag("avery_full_interior2.jpg", :alt => "Avery Dennison's Everywhere You Look Website - Dealers Page") %>
  </div>

</article>

<%= partial "work" %>