---
title: Ryan Cayabyab - UX/UI Designer & Front-End Dev - Work - Empower MediaMarketing
---

<article class="split piece">

  <aside>
    <h3>Empower MediaMarketing</h3>
    <ul class="workdone">
      <li>&lt;/&gt;<span>Front-End Development</span></li>
    </ul>
    <p>Empower MediaMarketing is a media agency headquartered in Cincinnati. Their sister design agency, Powerhouse Factories, was the lead on design and back-end development for the redesign of the Empower site. Due to time limitations, Powerhouse reached out to help with a fast and streamlined front-end while they get started on Wordpress development. After consolidating my front-end markup into Wordpress, the new site had an initial Google Pagespeed score of 98/100 on desktop and 95/100 on mobile.</p>
    <p><%= link_to 'Visit Site','http://www.empowermm.com/' %></p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/cincinnati_design_week.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/thorn_valley.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("empower_responsive_collection.jpg", :alt => "Empower MediaMarketing Website") %>
    <%= image_tag("empower_home.jpg", :alt => "Empower MediaMarketing - Home Page") %>
    <%= image_tag("empower_team.jpg", :alt => "TEmpower MediaMarketing - Team Page") %>
    <%= image_tag("empower_article.jpg", :alt => "Empower MediaMarketing - Article Page") %>
  </div>

</article>

<%= partial "work" %>