---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - Pep Promotions
---

<article class="split piece">

  <aside>
    <h3>Pep Promotions</h3>
    <p>With project managers working on multi-million dollar ventures with P&amp;G, Heinz, Hillshire Brands, Kraft, and Georgia Pacific, Pep has some of the best Project Managers in the world. They even have the awards to prove it! They needed a site that showcased their great work, services, and company culture. I developed a responsive website that met their goals and then some...and now it has the awards to prove it.</p>
    <p><%= link_to 'Visit Site','http://www.peppromotions.com/' %></p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/avery_dennison.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/rookwood_pottery.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("pep_responsive_collection.jpg", :alt => "Pep Promotions Website") %>
    <%= image_tag("pep_full_home.jpg", :alt => "Pep Promotions Website - Homepage") %>
    <%= image_tag("pep_full_whoweare.jpg", :alt => "Pep Promotions Website - Who We Are Page") %>
    <%= image_tag("pep_full_work.jpg", :alt => "Pep Promotions Website - Work Page") %>
  </div>

</article>

<%= partial "work" %>