---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - SNAAC
---

<article class="split piece">

  <aside>
    <h3>SNAAC</h3>
    <p>Security National Automotive Acceptance Company, LLC (SNAAC) is a finance company that purchases and services finance contracts from auto dealers in the sale of new & used automobiles & motorcycles. SNAAC wanted a redesigned site that combines and replaces their customers focused and dealers focused websites. They were in need of a look that was more approachable and inviting for their customers. At the same time they wanted an experience that was easier to use where customers could find the information they needed faster. On the dealers side, SNAAC needed a revamped dashboard where dealers could look at their sales numbers quickly and efficiently. SNAAC prides themselves on approachability, ease of use, and speed when it comes to purchasing an automobile. Their new site finally exemplified what customers and dealers thought of them.</p>
    <p><%= link_to 'Visit Site','#' %></p>
    <ul class="cycle">
      <li><%= link_to 'Visit Site','#', class:'left_arrow' %></li>
      <li><%= link_to 'Visit Site','#', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("snaac_responsive_collection.jpg", :alt => "SNAAC Website") %>
    <%= image_tag("snaac_full_home.jpg", :alt => "SNAAC Website - Homepage") %>
    <%= image_tag("snaac_full_customers.jpg", :alt => "SNAAC Website - Customers Page") %>
    <%= image_tag("snaac_full_dealer.jpg", :alt => "SNAAC Website - Dealers Page") %>
  </div>

</article>

<%= partial "work" %>