---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - SNAAC
---

<article class="split piece">

  <aside>
    <h3>SNAAC</h3>
    <p>SNAAC is a finance company that purchases and services finance contracts from dealers in the sale of automobiles and motorcycles. SNAAC wanted a new site that combined their existing customer focused and dealer focused websites. They were in need of an experience that was streamlined for customers, helping them find the information they needed, even faster. On the dealer's side of things, a new dashboard was created, allowing dealers to look at their sales numbers quickly and efficiently. SNAAC's new site now exemplifies the experience they strive for&mdash;approachability, ease of use, and speed when purchasing an automobile.</p>
    <p><%= link_to 'Visit Site','https://snaac.com/' %></p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/rookwood_pottery.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/avery_dennison.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("snaac_responsive_collection.jpg", :alt => "SNAAC Website") %>
    <%= image_tag("snaac_full_home.jpg", :alt => "SNAAC Website - Homepage") %>
    <%= image_tag("snaac_full_customers.jpg", :alt => "SNAAC Website - Customers Page") %>
    <%= image_tag("snaac_full_dealer.jpg", :alt => "SNAAC Website - Dealers Page") %>
  </div>

</article>

<%= partial "work" %>