---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - Thorn Valley Safety
---

<article class="split piece">

  <aside>
    <h3>Thorn Valley Safety</h3>
    <ul class="workdone">
      <li>Branding<span>Branding</span></li>
      <li>UI<span>User Interface Design</span></li>
      <li>UX<span>User Experience</span></li>
    </ul>
    <p>SNAAC is a finance company that purchases and services finance contracts from dealers in the sale of automobiles. SNAAC wanted a new site that combined their existing customer focused and dealer focused websites. They were in need of an experience that was streamlined for customers, helping them find the information they needed, even faster. On the dealer's side of things, a new dashboard was created, allowing dealers to look at their sales numbers quickly and efficiently. SNAAC's new site now exemplifies the experience they strive for-approachability, ease of use, and speed when purchasing an automobile.</p>
    <p><%= link_to 'Visit Site','http://thornvalleysafety.com' %></p>
    <ul class="cycle">
      <li><%= link_to 'Previous Project','/work/rookwood_pottery.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/avery_dennison.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("thorn_valley_home.jpg", :alt => "Thorn Valley Website - Home Page") %>
    <%= image_tag("thorn_valley_about.jpg", :alt => "Thorn Valley Website - About Page") %>
    <%= image_tag("thorn_valley_services.jpg", :alt => "Thorn Valley Website - Services Page") %>
  </div>

</article>

<%= partial "work" %>