---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - Work - Thorn Valley Safety
---

<article class="split piece">

  <aside>
    <h3>Thorn Valley Safety</h3>
    <ul class="workdone">
      <li>Branding<span>Branding</span></li>
      <li>UI<span>User Interface Design</span></li>
      <li>UX<span>User Experience</span></li>
    </ul>
    <p>Thorn Valley offers loss control service, analysis and reports to insurance carriers, insurance agencies and their clients. After being acquired by Norman Spencer, a provider of property and casualty insurance services, they were in need of a completely new look that aligns well with the suite of Norman Spencer's offers and services.</p>
    <p><%= link_to 'Visit Site','http://thornvalleysafety.com' %></p>
    <ul class="cycle">
      <li><%= link_to 'Next Project','/work/empower_mediamarketing.html', class:'left_arrow' %></li>
      <li><%= link_to 'Next Project','/work/rookwood_pottery.html', class:'right_arrow' %></li>
    </ul>
  </aside>

  <div>
    <%= image_tag("thorn_valley_brand.jpg", :alt => "Thorn Valley Brand") %>
    <%= image_tag("thorn_valley_responsive_collection.jpg", :alt => "Thorn Valley Website") %>
    <%= image_tag("thorn_valley_home.jpg", :alt => "Thorn Valley Website - Home Page") %>
    <%= image_tag("thorn_valley_about.jpg", :alt => "Thorn Valley Website - About Page") %>
    <%= image_tag("thorn_valley_services.jpg", :alt => "Thorn Valley Website - Services Page") %>
  </div>

</article>

<%= partial "work" %>