<footer id="connect">
  <nav>
    <ul>
      <li><%= link_to 'Email','mailto:cayabyab.ryan@gmail.com', class:'email' %></li>
      <li><%= link_to 'LinkedIn','http://www.linkedin.com/in/rcayabyab/', class:'linkedin' %></li>
      <li><%= link_to 'Twitter','http://twitter.com/rcayabyab', class:'twitter' %></li>
      <li><%= link_to 'Facebook','http://www.facebook.com/rcayabyab', class:'facebook' %></li>
      <li><%= link_to 'Instagram','https://instagram.com/rcayabyab/', class:'instagram' %></li>
    </ul>
  </nav>
  <p>&copy; Copyright 2007 - <script>document.write(new Date().getFullYear())</script> Ryan Cayabyab</p>  
</footer>