<footer id="connect">
  <nav>
    <ul>
      <li><%= link_to 'Email','mailto:cayabyab.ryan@gmail.com', class:'email' %></li>
      <li><%= link_to 'LinkedIn','http://www.linkedin.com/in/rcayabyab/', class:'linkedin' %></li>
      <li><%= link_to 'Twitter','http://twitter.com/rcayabyab', class:'twitter' %></li>
      <li><%= link_to 'Facebook','http://www.facebook.com/rcayabyab', class:'facebook' %></li>
      <li><%= link_to 'Instagram','https://instagram.com/rcayabyab/', class:'instagram' %></li>
    </ul>
  </nav>
  <p>&copy; Copyright 2007 - <script>document.write(new Date().getFullYear())</script> Ryan Cayabyab</p>  
  <section class="madeof">
    <a href="#tools" class="tools_icon">Made with passion.</a>
    <div class="tools">
      <h3>Made with passion.</h3>
      <ul id="tools">
        <li><%= link_to 'Compass - an open-source CSS Authoring Framework.','http://compass-style.org/', class:'compass' %></li>
        <li><%= link_to 'jQuery JavaScript library','https://jquery.com/', class:'jquery' %></li>
        <li><%= link_to 'Middleman - static site generator & framework','https://middlemanapp.com/', class:'middleman' %></li>
        <li><%= link_to 'Sass - Syntastically Awesome Style Sheets','http://sass-lang.com/', class:'sass' %></li>
      </ul>
    </div>
  </section>
</footer>