<header>
  <nav>
    <%= link_to 'menu','#', class:'hamburger' %>
    <%= link_to 'Ryan Cayabyab - UX/UI Designer & Front-End Developer','/', class:'logo' %>
    <ul>
      <li><%= link_to 'work','/#work' %></li>
      <li><%= link_to 'about','/about.html' %></li>
      <li><%= link_to 'connect','#connect' %></li>
    </ul>
  </nav>
</header>