<header>
  <nav>
    <%= link_to 'menu','#', class:'menu' %>
    <%= link_to 'Ryan Cayabyab - Interactive Designer / Front-End Developer','#', class:'logo' %>
    <ul>
      <li><%= link_to 'work','#' %></li>
      <li><%= link_to 'about','#' %></li>
      <li><%= link_to 'connect','#' %></li>
    </ul>
  </nav>
</header>