---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev
---

<article class="split bio">
  
  <div>
    <p class="leadin">Since I was little, all I ever did was figure out how things work and create. Whether it was taking apart my Sega Genesis and putting it back together, making roller coaster tracks out of cardboard, or creating a brochure instead of turning in an essay for school. Luckily for me and my clients, I can now put those two things together as an interactive designer and a front-end developer. </p>
    <p>After receiving my education in Graphic Design from OIP&amp;T in 2005, I worked at RDG-Ruttle Design Group, where I nurtured my nerdy side and choose the world of web design &amp; front-end dev. I have taken my talents to companies like US Digital Partners, Openfield Creative, Pep, and Topic. I have worked with brands such as P&amp;G, Kroger, Toyota, Perfetti Van Melle, and others, to not only help their web efforts but their social media efforts as well. I was even able to gather quite the collection of American Web Design, AVA, MarCom, American Graphic Design, Davey, ADDY, and Cincinnati Chamber awards in the process.</p>
    <p>When I’m not creating websites, I spend my time with AIGA Cincinnati and Creative Mornings Cincinnati. I have been on the AIGA Cincinnati board since 2011 and am currently serving as chapter co-president. I serve as a team member of Creative Mornings Cincinnati as social media director since 2013.</p>
  </div>

  <aside><%= image_tag("ryan_cayabyab.png", :alt => "Ryan Cayabyab - Interactive Designer / Front-End Dev") %></aside>

</article>

<section class="clients">
  <h3>Clients</h3>
  <ul>
    <li><%= link_to 'Acura','#', class:'acura' %></li>
    <li><%= link_to 'Avery Dennison','#', class:'averydennison' %></li>
    <li><%= link_to 'Cincinnati Museum Center','#', class:'cincymuseum' %></li>
    <li><%= link_to 'Cincinnati USA','#', class:'cincinnatiusa' %></li>
    <li><%= link_to 'Great American','#', class:'greatamerican' %></li>
    <li><%= link_to 'Kroger','#', class:'kroger' %></li>
    <li><%= link_to 'Messer','#', class:'messer' %></li>
    <li><%= link_to 'Perfetti van Melle','#', class:'perfetti' %></li>
    <li><%= link_to 'Procter & Gamble','#', class:'pg' %></li>
    <li><%= link_to 'Rookwood Pottery Company','#', class:'rookwood' %></li>
    <li><%= link_to 'Sheraton Hotels & Resorts','#', class:'sheraton' %></li>
    <li><%= link_to 'SNAAC - Security National Automotive Acceptance Company','#', class:'snaac' %></li>
    <li><%= link_to 'Toyota','#', class:'toyota' %></li>
    <li><%= link_to 'UCLA','#', class:'ucla' %></li>
  </ul>
</section>

<section class="awards">
  <h3>Awards</h3>
  <ul>
    <li>
      Cincinnati Magazine
      <ul>
        <li>2015 - Ones to Watch (Future of Cincinnati)</li>
      </ul>
    </li>
    <li>
      AVA Digital Awards
      <ul>
        <li>2014 - Platinum, Mobile Website</li>
        <li>2014 - Gold, Agency Website</li>
        <li>2013 - Gold, Corporate Website</li>
      </ul>
    </li>
    <li>
      American Web Design Awards
      <ul>
        <li>2013 - Self Promotional Website</li>
      </ul>
    </li>
    <li>
      American Graphic Design Awards
      <ul>
        <li>2012 - Website</li>
      </ul>
    </li>
    <li>
      MarCom Awards
      <ul>
        <li>2012 - Pro Bono Website</li>
      </ul>
    </li>
    <li>
      International Davey Awards
      <ul>
        <li>2010 - Silver, Social Media Website</li>
        <li>2010 - Silver, Activism Website</li>
      </ul>
    </li>
    <li>
      Cincinnati Chamber Awards
      <ul>
        <li>2010 - Marketing to Women: Best Campaign of the Year</li>
      </ul>
    </li>
    <li>
      ADDY Awards
      <ul>
        <li>2009 - Silver, Consumer HTML Website</li>
      </ul>
    </li>
  </ul>
</section>
