---
title: Ryan Cayabyab - Interactive Designer / Front-End Dev - About
---

<article class="split bio">
  
  <div>
    <p class="leadin">For as long as I can remember, I've spent my time figuring out how things work and creating. Whether it was taking apart my Sega Genesis and putting it back together, making roller coaster tracks out of cardboard, or creating a brochure instead of turning in an essay for school. That creativity and desire for innovation was something I just couldn’t shake. Luckily for me and my clients, I've been able to combine my strengths as an interactive designer and a front-end developer.</p>
    <p>After graduating from OIP&amp;T in 2005 where I studied Graphic Design, I worked at RDG-Ruttle Design Group. It was here that I nurtured my nerdy side and choose the world of web design &amp; front-end dev. Since then, I have taken my talents to companies like US Digital Partners, Openfield Creative, Pep, and Topic Design. I have worked with brands such as P&amp;G, Kroger, Toyota, Perfetti Van Melle, and others, to not only improve their web efforts but their social media strategies as well. I've also collected American Web Design, AVA, MarCom, American Graphic Design, Davey, ADDY, and Cincinnati Chamber awards in the process.</p>
    <p>When I'm not creating websites, I'm passionate about building Cincinnati's creative community through volunteering. I have been on the <a href="http://aigacincinnati.org">AIGA Cincinnati</a> board since 2011 and I currently serve as the chapter's co-president. As part of the <a href="http://creativemornings.com/cities/cin">Creative Mornings Cincinnati</a> team, I've been directing social media and greeting morning people since 2013.</p>
  </div>

  <aside><%= image_tag("ryan_cayabyab.png", :alt => "Ryan Cayabyab - Interactive Designer / Front-End Dev") %></aside>

</article>

<section class="clients">
  <h3>Previous Clients</h3>
  <ul>
    <li><%= link_to 'Acura','http://www.acura.com/', class:'acura' %></li>
    <li><%= link_to 'Avery Dennison','http://www.averydennison.com/', class:'averydennison' %></li>
    <li><%= link_to 'Cincinnati Museum Center','https://www.cincymuseum.org/', class:'cincymuseum' %></li>
    <li><%= link_to 'Cincinnati USA','http://cincinnatiusa.com/', class:'cincinnatiusa' %></li>
    <li><%= link_to 'Great American','http://www.greatamericaninsurancegroup.com/', class:'greatamerican' %></li>
    <li><%= link_to 'Frameri','https://frameri.com/', class:'frameri' %></li>
    <li><%= link_to 'Kroger','https://www.kroger.com/', class:'kroger' %></li>
    <li><%= link_to 'Messer','http://messer.com/', class:'messer' %></li>
    <li><%= link_to 'Perfetti van Melle','http://www.perfettivanmelleusa.us/', class:'perfetti' %></li>
    <li><%= link_to 'Powerhouse Factories','http://www.powerhousefactories.com/', class:'powerhouse' %></li>
    <li><%= link_to 'Procter & Gamble','http://www.pg.com/', class:'pg' %></li>
    <li><%= link_to 'Rookwood Pottery Company','https://rookwood.com/', class:'rookwood' %></li>
    <li><%= link_to 'Sheraton Hotels & Resorts','http://www.starwoodhotels.com/sheraton/index.html', class:'sheraton' %></li>
    <li><%= link_to 'SNAAC - Security National Automotive Acceptance Company','https://snaac.com/', class:'snaac' %></li>
    <li><%= link_to 'Toyota','http://www.toyota.com/', class:'toyota' %></li>
  </ul>
</section>

<section class="recognition">
  <h3>Recognition</h3>
  <ul>
    <li>
      <h4>Cincinnati Magazine</h4>
      <ul>
        <li>2015 - Ones to Watch (Future of Cincinnati)</li>
      </ul>
    </li>
    <li>
      <h4>AVA Digital Awards</h4>
      <ul>
        <li>2014 - Platinum, Mobile Website</li>
        <li>2014 - Gold, Agency Website</li>
        <li>2013 - Gold, Corporate Website</li>
      </ul>
    </li>
    <li>
      <h4>American Web Design Awards</h4>
      <ul>
        <li>2013 - Self Promotional Website</li>
      </ul>
    </li>
    <li>
      <h4>American Graphic Design Awards</h4>
      <ul>
        <li>2012 - Website</li>
      </ul>
    </li>
    <li>
      <h4>MarCom Awards</h4>
      <ul>
        <li>2012 - Pro Bono Website</li>
      </ul>
    </li>
    <li>
      <h4>International Davey Awards</h4>
      <ul>
        <li>2010 - Silver, Social Media Website</li>
        <li>2010 - Silver, Activism Website</li>
      </ul>
    </li>
    <li>
      <h4>Cincinnati Chamber Awards</h4>
      <ul>
        <li>2010 - Marketing to Women: Best Campaign of the Year</li>
      </ul>
    </li>
    <li>
      <h4>ADDY Awards</h4>
      <ul>
        <li>2009 - Silver, Consumer HTML Website</li>
      </ul>
    </li>
  </ul>
</section>

<section class="writings">
  <h3>Writing</h3>
  <ul>
    <li><a href="http://cincinnati.aiga.org/41516-2/">Cincinnati Design Week 2015 is in the Books - October 2015</a></li>
    <li><a href="http://cincinnati.aiga.org/building-the-future-of-design/">Building The Future of Design - April 2015</a></li>
    <li><a href="http://topicdesign.com/news/design-thinking-what">Design Thinking, What? - January 2015</a></li>
    <li><a href="http://blog.peppromotions.com/post/57628681529/the-dos-donts-of-networking">The Do's &amp; Don'ts of Networking - August 2013</a></li>
  </ul>
</section>
